ЄВПЕЗ (Єдине вікно)/Схеми XSD/check01.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:simpleType name="DGDrfo">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:pattern value="([0-9]{5,10}|[ÀÁÂÃÄÅªÆÇÈ²ÊËÌÍÎÏÐÑÒÓÔÕÖ×ØÙÞß]{2}[0-9]{6})"/>
		</xs:restriction>
	</xs:simpleType>

	<!--Çàãàëüíèé òèï "²íäèâ³äóàëüíèé ïîäàòêîâèé íîìåð ïëàòíèêà ç ìîæëèâ³ñòþ âíåñåííÿ 0 (íóëÿ)"-->
	<xs:simpleType name="DGHIPN0">
		<xs:annotation>
			<xs:documentation>Â³äïîâ³äíî äî Ïîëîæåííÿ ïðî ðåºñòðàö³þ ïëàòíèê³â ïîäàòêó íà äîäàíó âàðò³ñòü, ï.6.3 íàêàç
				ÄÏÀÓ â³ä 22.12.2010 ¹ 978 ²íäèâ³äóàëüíèé ïîäàòêîâèé íîìåð ïëàòíèêà, ìîæëèâ³ çíà÷åííÿ: * 0 (íóëü) * ÷èñëî
				â³ä 6 äî 12 öèôð * ¹ ïàñïîðòà</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0)|([0-9]{6,12})|([ÀÁÂÃÄÅªÆÇÈ²ÊËÌÍÎÏÐÑÒÓÔÕÖ×ØÙÞß]{2}[0-9]{6})"/>
		</xs:restriction>
		<!--17.02.2011 ìîäèô³êîâàíî â³äïîâ³äíî äî ëèñòà â³ä 17.02.11 ¹ 28-0517/61-->
	</xs:simpleType>

	<!--Çàãàëüíèé òèï "Êîä ïîñëóãè çã³äíî ç Äåðæàâíèì êëàñèô³êàòîðîì ïðîäóêö³¿ òà ïîñëóã (ÄÊÏÏ)"-->
	<xs:simpleType name="DGDKPP">
		<xs:annotation>
			<xs:documentation>Çàãàëüíèé òèï "Êîä ïîñëóãè çã³äíî ç Äåðæàâíèì êëàñèô³êàòîðîì ïðîäóêö³¿ òà ïîñëóã" ôîðìàò
				çíà÷åííÿ XX.XX.XX-XX.XX Ïðèêëàäè ïðàâèëüíèõ êîä³â: 11.22 11.22.3 11.22.33 11.22.33-4 11.22.33-44
				11.22.33-44.5 11.22.33-44.55</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern
				value="([\d]{2}\.[\d]{2}\.[\d]{2}-[\d]{2}(\.[\d]{1,2})*)|([\d]{2}\.[\d]{2}\.[\d]{2}(-[\d]{1,2})*)|([\d]{2}\.[\d]{2}(\.[\d]{1,2})*)"
			/>
		</xs:restriction>
	</xs:simpleType>

	<!--Çàãàëüíèé òèï "Äàòà ó ôîðìàò³ ääììðððð"-->
	<xs:simpleType name="DGDate">
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
			<xs:pattern
				value="((((0[1-9]|[1-2][0-9])(0(1|[3-9])|1[0-2]))|(30(0(1|[3-9])|1[0-2]))|(31(01|03|05|07|08|10|12)))(19|20)\d{2})|((0[1-9]|[1-2][0-9])02(19|20)(([0|2|4|6|8][0|4|8])|([1|3|5|7|9][2|6]))|(0[1-9]|[1-2][0-8]|19)02(19|20)(([0|2|4|6|8][1-3|5-7|9])|([1|3|5|7|9][0-1|3-5|7-9])))"
			/>
		</xs:restriction>
	</xs:simpleType>

	<!--Çàãàëüíèé òèï "×àñ ó ôîðìàò³ ããõõññ"-->
	<xs:simpleType name="DGTime">
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="(([0-1][0-9])|(2[0-3]))[0-5][0-9][0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>

	<!--Çàãàëüíèé òèï "Äàòà ³ ÷àñ ó ôîðìàò³ ääììððððããõõññ"-->
	<xs:simpleType name="DGDateTime">
		<xs:restriction base="xs:string">
			<xs:length value="14"/>
			<xs:pattern
				value="(((((0[1-9]|[1-2][0-9])(0(1|[3-9])|1[0-2]))|(30(0(1|[3-9])|1[0-2]))|(31(01|03|05|07|08|10|12)))(19|20)\d{2})|((0[1-9]|[1-2][0-9])02(19|20)(([0|2|4|6|8][0|4|8])|([1|3|5|7|9][2|6]))|(0[1-9]|[1-2][0-8]|19)02(19|20)(([0|2|4|6|8][1-3|5-7|9])|([1|3|5|7|9][0-1|3-5|7-9]))))((([0-1][0-9])|(2[0-3]))[0-5][0-9][0-5][0-9])"
			/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGStr256">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGStr128">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGStr64">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGStr15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGNum5">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGDecimal0">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="\-{0,1}[0-9]+(\.0{1,2}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGDecimal2">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="\-{0,1}[0-9]+\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGDecimal3">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="\-{0,1}[0-9]+\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGDecimal3_R">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="\-{0,1}[0-9]+(\.[0-9]{1,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGDecimal8_R">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="\-{0,1}[0-9]+(\.[0-9]{1,8}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGTax">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGLetter">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="rowInt">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="DKPPColumn">
		<xs:simpleContent>
			<xs:extension base="DGDKPP"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="StrColumn">
		<xs:simpleContent>
			<xs:extension base="xs:string"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Str64Column">
		<xs:simpleContent>
			<xs:extension base="DGStr64"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Str15Column">
		<xs:simpleContent>
			<xs:extension base="DGStr15"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Str128Column">
		<xs:simpleContent>
			<xs:extension base="DGStr128"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Num5Column">
		<xs:simpleContent>
			<xs:extension base="DGNum5"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Decimal0Column">
		<xs:simpleContent>
			<xs:extension base="DGDecimal0"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Decimal2Column">
		<xs:simpleContent>
			<xs:extension base="DGDecimal2"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Decimal3Column">
		<xs:simpleContent>
			<xs:extension base="DGDecimal3"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Decimal3Column_R">
		<xs:simpleContent>
			<xs:extension base="DGDecimal3_R"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Decimal8Column_R">
		<xs:simpleContent>
			<xs:extension base="DGDecimal8_R"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="PositiveIntegerColumn">
		<xs:simpleContent>
			<xs:extension base="xs:positiveInteger"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="TaxColumn">
		<xs:simpleContent>
			<xs:extension base="DGTax"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="LetterColumn">
		<xs:simpleContent>
			<xs:extension base="DGLetter"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="HIPNColumn0">
		<xs:annotation>
			<xs:documentation>Çàãàëüíèé òèï äëÿ âèçíà÷åííÿ ôîðìàòó ²ÍÄÈÂ²ÄÓÀËÜÍÈÉ ÏÎÄÀÒÊÎÂÈÉ ÍÎÌÅÐ ç ìîæëèâ³ñòþ âíåñåííÿ
				0 (íóëÿ) â êîëîíö³</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DGHIPN0"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="DateColumn">
		<xs:annotation>
			<xs:documentation>Çàãàëüíèé òèï äëÿ âèçíà÷åííÿ ôîðìàòó ÄÀÒÀ â êîëîíö³, ùî ìàþòü âèãëÿä (ÄÄÌÌÐÐÐÐ
				(DDMMYYYY))</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DGDate"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="TimeColumn">
		<xs:annotation>
			<xs:documentation>Çàãàëüíèé òèï äëÿ âèçíà÷åííÿ ôîðìàòó ×ÀÑ â êîëîíö³, ùî ìàþòü âèãëÿä (ÃÃÕÕÑÑ
				(HHMMSS))</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DGTime"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="DateTimeColumn">
		<xs:annotation>
			<xs:documentation>Çàãàëüíèé òèï äëÿ âèçíà÷åííÿ ôîðìàòó ÄÀÒÀ ² ×ÀÑ â êîëîíö³, ùî ìàþòü âèãëÿä (ÄÄÌÌÐÐÐÐÃÃÕÕÑÑ
				(DDMMYYYYHHMMSS))</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DGDateTime"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:element name="CHECK" type="CheckContent"/>
	<xs:complexType name="CheckContent">
		<xs:sequence>
			<!--Çàãîëîâîê-->
			<xs:element name="CHECKHEAD" type="CHead" minOccurs="1" maxOccurs="1"/>
			<!--Ï³äñóìîê ïî ÷åêó-->
			<xs:element name="CHECKTOTAL" type="CTotal" minOccurs="0" maxOccurs="1"/>
			<!--Ï³äñóìêè ïî ôîðìàì îïëàòè-->
			<xs:element name="CHECKPAY" type="CPay" minOccurs="0" maxOccurs="1"/>
			<!--Ïîäàòêè/Çáîðè-->
			<xs:element name="CHECKTAX" type="CTax" minOccurs="0" maxOccurs="1"/>
			<!--Ðåêâ³çèòè ïðîãðàìíî-òåõí³÷íîãî êîìïëåêñó ñàìîîáñëóãîâóâàííÿ (ÏÒÊÑ)-->
			<xs:element name="CHECKPTKS" type="CPtks" minOccurs="0" maxOccurs="1"/>
			<!--Ïðîäàæ³-->
			<xs:element name="CHECKBODY" type="CBody" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!--Çàãîëîâîê-->
	<xs:complexType name="CHead">
		<xs:sequence>
			<!--Òèï äîêóìåíòà (÷èñëîâèé):
			    0-×åê ðåàë³çàö³¿ òîâàð³â/ïîñëóã, 1-×åê ïåðåêàçó êîøò³â, 2×åê îïåðàö³¿ îáì³íó âàëþòè, 3-×åê âèäà÷³ ãîò³âêè,
				4-×åê îáñëóãîâóâàííÿ ó ëîìáàðä³,
				100-Â³äêðèòòÿ çì³íè, 101-Çàêðèòòÿ çì³íè, 102-Ïî÷àòîê îôëàéí ñåñ³¿, 103-Çàâåðøåííÿ îôëàéí ñåñ³¿-->
			<xs:element name="DOCTYPE" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
			<!--Ðîçøèðåíèé òèï äîêóìåíòà (÷èñëîâèé):
			    0-Êàñîâèé ÷åê (ðåàë³çàö³ÿ), 1-Âèäàòêîâèé ÷åê (ïîâåðíåííÿ), 2-×åê îïåðàö³¿ «ñëóæáîâå âíåñåííÿ»/«îòðèìàííÿ àâàíñó»,
				3-×åê îïåðàö³¿ «îòðèìàííÿ ï³äêð³ïëåííÿ», 4×åê îïåðàö³¿ «ñëóæáîâà âèäà÷à»/«³íêàñàö³ÿ»,
				5-×åê ñòîðíóâàííÿ ïîïåðåäíüîãî ÷åêà-->
			<xs:element name="DOCSUBTYPE" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
			<!--Óí³êàëüíèé ³äåíòèô³êàòîð äîêóìåíòà (GUID)-->
			<xs:element name="UID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!--ªÄÐÏÎÓ/ÄÐÔÎ/¹ ïàñïîðòà ïðîäàâöÿ (10 ñèìâîë³â)-->
			<xs:element name="TIN" type="DGDrfo" minOccurs="1" maxOccurs="1"/>
			<!--Ïîäàòêîâèé íîìåð àáî ²íäèâ³äóàëüíèé íîìåð ïëàòíèêà ÏÄÂ (12 ñèìâîë³â)-->
			<xs:element name="IPN" type="DGHIPN0" minOccurs="0" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ ïðîäàâöÿ (256 ñèìâîë³â)-->
			<xs:element name="ORGNM" type="DGStr256" minOccurs="1" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ òî÷êè ïðîäàæó (256 ñèìâîë³â)-->
			<xs:element name="POINTNM" type="DGStr256" minOccurs="1" maxOccurs="1"/>
			<!--Àäðåñà òî÷êè ïðîäàæó (256 ñèìâîë³â)-->
			<xs:element name="POINTADDR" type="DGStr256" minOccurs="0" maxOccurs="1"/>
			<!--Äàòà îïåðàö³¿ (ääììðððð)-->
			<xs:element name="ORDERDATE" type="DGDate" minOccurs="1" maxOccurs="1"/>
			<!--×àñ îïåðàö³¿ (ããõõññ)-->
			<xs:element name="ORDERTIME" type="DGTime" minOccurs="1" maxOccurs="1"/>
			<!--Ëîêàëüíèé íîìåð äîêóìåíòà (÷èñëîâèé)-->
			<xs:element name="ORDERNUM" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
			<!--Ëîêàëüíèé íîìåð ïðîãðàìíîãî ðåºñòðàòîðà ðîçðàõóíêîâèõ îïåðàö³é (÷èñëîâèé)-->
			<xs:element name="CASHDESKNUM" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
			<!--Ô³ñêàëüíèé íîìåð ïðîãðàìíîãî ðåºñòðàòîðà ðîçðàõóíêîâèõ îïåðàö³é (÷èñëîâèé)-->
			<xs:element name="CASHREGISTERNUM" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
			<!--Ô³ñêàëüíèé íîìåð ÷åêà, äëÿ ÿêîãî çä³éñíþºòüñÿ ïîâåðíåííÿ (çàçíà÷àºòüñÿ ò³ëüêè äëÿ ÷åê³â ïîâåðíåííÿ) (128 ñèìâîë³â)-->
			<xs:element name="ORDERRETNUM" type="DGStr128" minOccurs="0" maxOccurs="1"/>
			<!--Ô³ñêàëüíèé íîìåð ÷åêà, äëÿ ÿêîãî çä³éñíþºòüñÿ ñòîðíóâàííÿ (çàçíà÷àºòüñÿ ò³ëüêè äëÿ ÷åê³â ñòîðíóâàííÿ) (128 ñèìâîë³â)-->
			<xs:element name="ORDERSTORNUM" type="DGStr128" minOccurs="0" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ òèïó îïåðàö³¿ (128 ñèìâîë³â)-->
			<xs:element name="OPERTYPENM" type="DGStr128" minOccurs="0" maxOccurs="1"/>
			<!--Äåðæàâíèé ðåºñòðàö³éíèé íîìåð òðàíñïîðòíîãî çàñîáó (64 ñèìâîëè)-->
			<xs:element name="VEHICLERN" type="DGStr64" minOccurs="0" maxOccurs="1"/>
			<!--Äîêóìåíò "Ïî÷àòîê îôëàéí ñåñ³¿"-->
			<!--Îçíàêà â³äêëèêàííÿ îñòàííüîãî îíëàéí äîêóìåíòà ÷åðåç äóáëþâàííÿ îôëàéí äîêóìåíòîì-->
			<xs:element name="REVOKELASTONLINEDOC" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<!--Ï²Á êàñèðà (128 ñèìâîë³â)-->
			<xs:element name="CASHIER" type="DGStr128" minOccurs="0" maxOccurs="1"/>
			<!--Ïîñèëàííÿ íà ãðàô³÷íå çîáðàæåííÿ íàéìåíóâàííÿ àáî ëîãîòèïó âèðîáíèêà (256 ñèìâîë³â)-->
			<xs:element name="LOGOURL" type="DGStr256" minOccurs="0" maxOccurs="1"/>
			<!--Êîìåíòàð-->
			<xs:element name="COMMENT" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!--Âåðñ³ÿ ôîðìàòó äîêóìåíòà (÷èñëîâèé)-->
			<xs:element name="VER" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<!--Ô³ñêàëüíèé íîìåð äîêóìåíòà (128 ñèìâîë³â)-->
			<xs:element name="ORDERTAXNUM" type="DGStr128" minOccurs="0" maxOccurs="1"/>
			<!--Îçíàêà îôëàéí äîêóìåíòà-->
			<xs:element name="OFFLINE" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<!--Ãåø ïîïåðåäíüîãî äîêóìåíòà â ðåæèì³ îôëàéí (64 ñèìâîëè)-->
			<xs:element name="PREVDOCHASH" type="DGStr64" minOccurs="0" maxOccurs="1"/>
			<!--Äîêóìåíò â³äêëèêàíî-->
			<xs:element name="REVOKED" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<!--Äîêóìåíò ñòîðíîâàíî-->
			<xs:element name="STORNED" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<!--Îçíàêà òåñòîâîãî íåô³ñêàëüíîãî äîêóìåíòà-->
			<xs:element name="TESTING" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!--Ï³äñóìîê ïî ÷åêó-->
	<xs:complexType name="CTotal">
		<xs:sequence>
			<!--Çàãàëüíà ñóìà (15.2 öèôðè) (íàïðèêëàä, 1000.00)-->
			<xs:element name="SUM" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà êîøò³â, âèäàíèõ êë³ºíòó ëîìáàðäà (15.2 öèôðè) (íàïðèêëàä, 1000.00)-->
			<xs:element name="PWNSUMISSUED" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà êîøò³â, îäåðæàíèõ â³ä êë³ºíòà ëîìáàðäà (15.2 öèôðè) (íàïðèêëàä, 1000.00)-->
			<xs:element name="PWNSUMRECEIVED" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Çàîêðóãëåííÿ (15.2 öèôðè) (íàïðèêëàä, 0.71)-->
			<xs:element name="RNDSUM" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà áåç çàîêðóãëåííÿ (15.2 öèôðè) (íàïðèêëàä, 1000.71)-->
			<xs:element name="NORNDSUM" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Ñóìà ÷åêó áåç óðàõóâàííÿ ïîäàòê³â/çáîð³â (15.2 öèôðè)-->
			<xs:element name="NOTAXSUM" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Ñóìà êîì³ñ³¿ (15.2 öèôðè)-->
			<xs:element name="COMMISSION" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Òèï çàñòîñóâàííÿ çíèæêè/íàö³íêè (÷èñëîâèé):
			    0Ïîïåðåäí³é ïðîäàæ, 1Ïðîì³æíèé ï³äñóìîê, 2Ñïåö³àëüíà...-->
			<xs:element name="USAGETYPE" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
			<!--Ñóìà íà ÿêó íàðàõîâóºòüñÿ çíèæêà/íàö³íêà (15.2 öèôðè)-->
			<xs:element name="SUBCHECK" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Òèï çíèæêè/íàö³íêè (÷èñëîâèé):
			    0Ñóìîâà, 1Â³äñîòêîâà-->
			<xs:element name="DISCOUNTTYPE" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
			<!--Â³äñîòîê çíèæêè/íàö³íêè, äëÿ â³äñîòêîâèõ çíèæîê/íàö³íîê (íå çàçíà÷àºòüñÿ ïðè ô³êñîâàí³é ñóì³ çíèæêè/íàö³íêè) (15.2 öèôðè)-->
			<xs:element name="DISCOUNTPERCENT" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà çíèæêè/íàö³íêè (15.2 öèôðè)-->
			<xs:element name="DISCOUNTSUM" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!--Ï³äñóìêè ïî ôîðìàì îïëàòè-->
	<xs:complexType name="CPay">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSPAY" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSPAY">
		<xs:sequence>
			<!--Êîä ôîðìè îïëàòè (÷èñëîâèé):
			    0Ãîò³âêà, 1Áàíê³âñüêà êàðòêà, 2-Ïîïåðåäíÿ îïëàòà, 3-Êðåäèò, ...-->
			<xs:element name="PAYFORMCD" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ ôîðìè îïëàòè (128 ñèìâîë³â)-->
			<xs:element name="PAYFORMNM" type="StrColumn" minOccurs="1" maxOccurs="1"/>
			<!--Ñóìà îïëàòè (15.2 öèôðè)-->
			<xs:element name="SUM" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Ñóìà âíåñåíèõ êîøò³â (15.2 öèôðè)-->
			<xs:element name="PROVIDED" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Ðåøòà (íå çàçíà÷àºòüñÿ, ÿêùî ðåøòà â³äñóòíÿ) (15.2 öèôðè)-->
			<xs:element name="REMAINS" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Ïëàò³æí³ ñèñòåìè-->
			<xs:element name="PAYSYS" type="CPaySys" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>

	<!--Ïëàò³æí³ ñèñòåìè-->
	<xs:complexType name="CPaySys">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSPAYSYS" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSPAYSYS">
		<xs:sequence>
			<!--Ïîäàòêîâèé íîìåð ïëàò³æíî¿ ñèñòåìè (64 ñèìâîëè)-->
			<xs:element name="TAXNUM" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ ïëàò³æíî¿ ñèñòåìè (òåêñò)-->
			<xs:element name="NAME" type="StrColumn" minOccurs="0" maxOccurs="1"/>
			<!--Ïîäàòêîâèé íîìåð åêâàéðà òîðãîâöÿ (64 ñèìâîëè)-->
			<xs:element name="ACQUIREPN" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ åêâàéðà òîðãîâöÿ (òåêñò)-->
			<xs:element name="ACQUIRENM" type="StrColumn" minOccurs="0" maxOccurs="1"/>
			<!--²äåíòèô³êàòîð òðàíçàêö³¿, ùî íàäàºòüñÿ åêâàéðîì òà ³äåíòèô³êóº îïåðàö³þ â ïëàò³æí³é ñèñòåì³ (128 ñèìâîë³â)-->
			<xs:element name="ACQUIRETRANSID" type="Str128Column" minOccurs="0" maxOccurs="1"/>
			<!--POS-òåðì³íàë. Äàòà òà ÷àñ òðàíçàêö³¿ (ääììððððããõõññ)-->
			<xs:element name="POSTRANSDATE" type="DateTimeColumn" minOccurs="0" maxOccurs="1"/>
			<!--POS-òåðì³íàë. Íîìåð ÷åêà òðàíçàêö³¿ (128 ñèìâîë³â)-->
			<xs:element name="POSTRANSNUM" type="Str128Column" minOccurs="0" maxOccurs="1"/>
			<!--²äåíòèô³êàòîð ïëàò³æíîãî ïðèñòðîþ (128 ñèìâîë³â)-->
			<xs:element name="DEVICEID" type="Str128Column" minOccurs="0" maxOccurs="1"/>
			<!--Ðåêâ³çèòè åëåêòðîííîãî ïëàò³æíîãî çàñîáó (128 ñèìâîë³â)-->
			<xs:element name="EPZDETAILS" type="Str128Column" minOccurs="0" maxOccurs="1"/>
			<!--Êîä àâòîðèçàö³¿ (64 ñèìâîëè)-->
			<xs:element name="AUTHCD" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Ñóìà îïëàòè (15.2 öèôðè)-->
			<xs:element name="SUM" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Ñóìà êîì³ñ³¿ (15.2 öèôðè)-->
			<xs:element name="COMMISSION" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>

	<!--Ïîäàòêè/Çáîðè-->
	<xs:complexType name="CTax">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSTAX" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSTAX">
		<xs:sequence>
			<!--Êîä âèäó ïîäàòêó/çáîðó (÷èñëîâèé):
			    0-ÏÄÂ,1-Àêöèç,2-ÏÔ...-->
			<xs:element name="TYPE" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ âèäó ïîäàòêó/çáîðó (64 ñèìâîëè)-->
			<xs:element name="NAME" type="Str64Column" minOccurs="1" maxOccurs="1"/>
			<!--Ë³òåðíå ïîçíà÷åííÿ âèäó ³ ñòàâêè ïîäàòêó/çáîðó (À,Á,Â,Ã,...) (1 ñèìâîë)-->
			<xs:element name="LETTER" type="TaxColumn" minOccurs="0" maxOccurs="1"/>
			<!--Â³äñîòîê ïîäàòêó/çáîðó (15.2 öèôðè)-->
			<xs:element name="PRC" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
			<!--Îçíàêà ïîäàòêó/çáîðó, íå âêëþ÷åíîãî ó âàðò³ñòü-->
			<xs:element name="SIGN" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<!--Ñóìà îáñÿã³â äëÿ ðîçðàõóâàííÿ ïîäàòêó/çáîðó (15.2 öèôðè)-->
			<xs:element name="TURNOVER" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
			<!--Ñóìà îáñÿã³â äëÿ ðîçðàõóâàííÿ ïîäàòêó/çáîðó ç óðàõóâàííÿì çíèæêè (15.2 öèôðè)-->
			<xs:element name="TURNOVERDISCOUNT" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Âèõ³äíà ñóìà äëÿ ðîçðàõóâàííÿ ïîäàòêó/çáîðó (15.2 öèôðè)-->
			<xs:element name="SOURCESUM" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Ñóìà ïîäàòêó/çáîðó (15.2 öèôðè)-->
			<xs:element name="SUM" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>

	<!--Ðåêâ³çèòè ïðîãðàìíî-òåõí³÷íîãî êîìïëåêñó ñàìîîáñëóãîâóâàííÿ (ÏÒÊÑ)-->
	<xs:complexType name="CPtks">
		<xs:sequence>
			<!--Ïîäàòêîâèé íîìåð îïåðàòîðà ÏÒÊÑ (64 ñèìâîëè)-->
			<xs:element name="PTKSPN" type="DGStr64" minOccurs="0" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ îïåðàòîðà ÏÒÊÑ (òåêñò)-->
			<xs:element name="PTKSNM" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!--Ïîäàòêîâèé íîìåð ïëàò³æíî¿ ñèñòåìè (64 ñèìâîëè)-->
			<xs:element name="PAYSYSTEMPN" type="DGStr64" minOccurs="0" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ ïëàò³æíî¿ ñèñòåìè (òåêñò)-->
			<xs:element name="PAYSYSTEMNM" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!--Ïîäàòêîâèé íîìåð åêâàéðà òîðãîâöÿ (64 ñèìâîëè)-->
			<xs:element name="ACQUIREPN" type="DGStr64" minOccurs="0" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ åêâàéðà òîðãîâöÿ (òåêñò)-->
			<xs:element name="ACQUIRENM" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!--²äåíòèô³êàòîð òðàíçàêö³¿, ùî íàäàºòüñÿ åêâàéðîì òà ³äåíòèô³êóº îïåðàö³þ â ïëàò³æí³é ñèñòåì³ (128 ñèìâîë³â)-->
			<xs:element name="ACQUIRETRANSID" type="Str128Column" minOccurs="0" maxOccurs="1"/>
			<!--POS-òåðì³íàë. Äàòà òà ÷àñ òðàíçàêö³¿ (ääììððððããõõññ)-->
			<xs:element name="POSTRANSDATE" type="DateTimeColumn" minOccurs="0" maxOccurs="1"/>
			<!--POS-òåðì³íàë. Íîìåð ÷åêà òðàíçàêö³¿ (128 ñèìâîë³â)-->
			<xs:element name="POSTRANSNUM" type="Str128Column" minOccurs="0" maxOccurs="1"/>
			<!--²äåíòèô³êàòîð ïëàò³æíîãî ïðèñòðîþ (128 ñèìâîë³â)-->
			<xs:element name="DEVICEID" type="DGStr128" minOccurs="0" maxOccurs="1"/>
			<!--Ðåêâ³çèòè åëåêòðîííîãî ïëàò³æíîãî çàñîáó (128 ñèìâîë³â)-->
			<xs:element name="EPZDETAILS" type="DGStr128" minOccurs="0" maxOccurs="1"/>
			<!--Êîä àâòîðèçàö³¿ (64 ñèìâîëè)-->
			<xs:element name="AUTHCD" type="DGStr64" minOccurs="0" maxOccurs="1"/>
			<!--Íîìåð òåðì³íàëó ÏÒÊÑ (64 ñèìâîëè)-->
			<xs:element name="TERMINALNUM" type="DGStr64" minOccurs="0" maxOccurs="1"/>
			<!--Àäðåñà ðîçì³ùåííÿ òåðì³íàëó ÏÒÊÑ (òåêñò)-->
			<xs:element name="TERMINALADDR" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!--Íîìåð îïåðàö³¿ ÏÒÊÑ (64 ñèìâîëè)-->
			<xs:element name="OPERNUM" type="DGStr64" minOccurs="0" maxOccurs="1"/>
			<!--Íîìåð îïåðàö³¿ ó ñèñòåì³ îïåðàòîðà ÏÒÊÑ (64 ñèìâîëè)-->
			<xs:element name="OPERSYSNUM" type="DGStr64" minOccurs="0" maxOccurs="1"/>
			<!--Êîä áàíêó (15 ñèìâîë³â)-->
			<xs:element name="BANKCD" type="DGStr15" minOccurs="0" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ áàíêó îòðèìóâà÷à, ÿêùî ïðèñóòí³é (òåêñò)-->
			<xs:element name="BANKNM" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!--Ïðîäàæ³-->
	<xs:complexType name="CBody">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSBODY" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSBODY">
		<xs:sequence>
			<!--Âíóòð³øí³é êîä òîâàðó (64 ñèìâîëè)-->
			<xs:element name="CODE" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Øòðèõîâèé êîä òîâàðó (64 ñèìâîëè)-->
			<xs:element name="BARCODE" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<xs:choice>
				<!--Êîä òîâàðó çã³äíî ç ÓÊÒÇÅÄ (15 öèôð)-->
				<xs:element name="UKTZED" type="PositiveIntegerColumn" minOccurs="0" maxOccurs="1"/>
				<!--Êîä ïîñëóãè çã³äíî ç ÄÊÏÏ (15 ñèìâîë³â)-->
				<xs:element name="DKPP" type="DKPPColumn" minOccurs="0" maxOccurs="1"/>
			</xs:choice>
			<!--Íàéìåíóâàííÿ òîâàðó, ïîñëóãè àáî îïåðàö³¿ (òåêñò)-->
			<xs:element name="NAME" type="Str128Column" minOccurs="0" maxOccurs="1"/>
			<!--Îïèñ òîâàðó, ïîñëóãè àáî îïåðàö³¿ (òåêñò)-->
			<xs:element name="DESCRIPTION" type="StrColumn" minOccurs="0" maxOccurs="1"/>
			<!--Êîä îäèíèö³ âèì³ðó çã³äíî êëàñèô³êàòîðà (5 öèôð)-->
			<xs:element name="UNITCD" type="Num5Column" minOccurs="0" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ îäèíèö³ âèì³ðó (64 ñèìâîëè)-->
			<xs:element name="UNITNM" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Ê³ëüê³ñòü/îáºì òîâàðó (15.3 öèôðè)-->
			<xs:element name="AMOUNT" type="Decimal3Column_R" minOccurs="0" maxOccurs="1"/>
			<!--Ö³íà çà îäèíèöþ òîâàðó (15.2 öèôðè)-->
			<xs:element name="PRICE" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Ë³òåðí³ ïîçíà÷åííÿ âèä³â ³ ñòàâîê ïîäàòê³â/çáîð³â (15 ñèìâîë³â)-->
			<xs:element name="LETTERS" type="Str15Column" minOccurs="0" maxOccurs="1"/>
			<!--Ñóìà îïåðàö³¿ (15.2 öèôðè)-->
			<xs:element name="COST" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--ÏÒÊÑ-->
			<!--Íàéìåíóâàííÿ îòðèìóâà÷à, ÿêùî ïðèñóòí³é (òåêñò)-->
			<xs:element name="RECIPIENTNM" type="StrColumn" minOccurs="0" maxOccurs="1"/>
			<!--Êîä îòðèìóâà÷à, ÿêùî ïðèñóòí³é (12 ñèìâîë³â)-->
			<xs:element name="RECIPIENTIPN" type="HIPNColumn0" minOccurs="0" maxOccurs="1"/>
			<!--Êîä áàíêó îòðèìóâà÷à, ÿêùî ïðèñóòí³é (15 ñèìâîë³â)-->
			<xs:element name="BANKCD" type="Str15Column" minOccurs="0" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ áàíêó îòðèìóâà÷à, ÿêùî ïðèñóòí³é (òåêñò)-->
			<xs:element name="BANKNM" type="StrColumn" minOccurs="0" maxOccurs="1"/>
			<!--Íîìåð ðàõóíêó â áàíêó îòðèìóâà÷à, ÿêùî ïðèñóòí³é (64 ñèìâîëè)-->
			<xs:element name="BANKRS" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Ðåêâ³çèòè ïëàò³æíîãî çàñîáó îòðèìóâà÷à, ÿêùî ïðèñóòí³é (òåêñò)-->
			<xs:element name="PAYDETAILS" type="StrColumn" minOccurs="0" maxOccurs="1"/>
			<!--Ïðèçíà÷åííÿ ïëàòåæó (îòðèìóâà÷à) (128 ñèìâîë³â)-->
			<xs:element name="PAYPURPOSE" type="Str128Column" minOccurs="0" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ ïëàòíèêà, ÿêùî ïðèñóòí³é (òåêñò)-->
			<xs:element name="PAYERNM" type="StrColumn" minOccurs="0" maxOccurs="1"/>
			<!--²äåíòèô³êàö³éíèé êîä ïëàòíèêà, ÿêùî ïðèñóòí³é (12 ñèìâîë³â)-->
			<xs:element name="PAYERIPN" type="HIPNColumn0" minOccurs="0" maxOccurs="1"/>
			<!--Íîìåð äîãîâîðó ïëàòíèêà, ÿêùî ïðèñóòí³é (òåêñò)-->
			<xs:element name="PAYERPACTNUM" type="StrColumn" minOccurs="0" maxOccurs="1"/>
			<!--Ðåêâ³çèòè ïëàò³æíîãî çàñîáó ïëàòíèêà, ÿêùî ïðèñóòí³é (òåêñò)-->
			<xs:element name="PAYDETAILSP" type="StrColumn" minOccurs="0" maxOccurs="1"/>
			<!--Ï³äñòàâà ïëàòåæó ïëàòíèêîì, ÿêùî ïðèñóòí³é (òåêñò)-->
			<xs:element name="BASISPAY" type="StrColumn" minOccurs="0" maxOccurs="1"/>
			<!--Òèï âèïëàòè (çàçíà÷àºòüñÿ ò³ëüêè äëÿ ÷åêó ïîâåðíåííÿ) (1 ñèìâîë)-->
			<xs:element name="PAYOUTTYPE" type="LetterColumn" minOccurs="0" maxOccurs="1"/>
			<!--ÀÇÑ-->
			<!--Íîìåð çàìîâëåííÿ íà â³äïóñê ïàëüíîãî ç ïàëèâíî-ðîçäàâàëüíî¿ êîëîíêè (128 ñèìâîë³â)-->
			<xs:element name="FUELORDERNUM" type="Str128Column" minOccurs="0" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ îäèíèö³ âèì³ðó ïàëüíîãî (òåêñò)-->
			<xs:element name="FUELUNITNM" type="StrColumn" minOccurs="0" maxOccurs="1"/>
			<!--Íîìåð ðîçõ³äíîãî ðåçåðâóàðó (64 ñèìâîëè)-->
			<xs:element name="FUELTANKNUM" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Íîìåð ïàëèâíî-ðîçäàâàëüíî¿ êîëîíêè (64 ñèìâîëè)-->
			<xs:element name="FUELCOLUMNNUM" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Íîìåð êðàíó ïàëèâíî-ðîçäàâàëüíî¿ êîëîíêè (64 ñèìâîëè)-->
			<xs:element name="FUELFAUCETNUM" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Îçíàêà ïðîäàæó ïàëüíîãî â ðåæèì³ ïîâ³ðêè-->
			<xs:element name="FUELSALESIGN" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<!--Âàëþòà-->
			<!--Êîä âàëþòè (÷èñëîâèé)-->
			<xs:element name="VALCD" type="PositiveIntegerColumn" minOccurs="0" maxOccurs="1"/>
			<!--Ñèìâîëüíèé êîä âàëþòè (64 ñèìâîë³â)-->
			<xs:element name="VALSYMCD" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ âàëþòè (òåêñò)-->
			<xs:element name="VALNM" type="StrColumn" minOccurs="0" maxOccurs="1"/>
			<!--Òèï îïåðàö³¿ (1 ñèìâîë):
			    0-Êóï³âëÿ; 1-Ñòîðíî êóï³âë³; 2-Ïðîäàæ; 3-Ñòîðíî ïðîäàæó; 4-Çâîðîòí³é îáì³í; 5-Êîíâåðòàö³ÿ; 6Ñòîðíî çâîðîòíîãî îáì³íó; 7Ñòîðíî êîíâåðòàö³¿-->
			<xs:element name="VALOPERTYPE" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
			<!--Êîä âàëþòè âèäàíî¿ (÷èñëîâèé)-->
			<xs:element name="VALOUTCD" type="PositiveIntegerColumn" minOccurs="0" maxOccurs="1"/>
			<!--Ñèìâîëüíèé êîä âàëþòè âèäàíî¿ (64 ñèìâîë³â)-->
			<xs:element name="VALOUTSYMCD" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ âàëþòè âèäàíî¿ (òåêñò)-->
			<xs:element name="VALOUTNM" type="StrColumn" minOccurs="0" maxOccurs="1"/>
			<!--Êóðñ îïåðàö³¿ (ÕÕÕÕ.ÕÕÕÕÕÕÕÕ)-->
			<xs:element name="VALCOURSE" type="Decimal8Column_R" minOccurs="0" maxOccurs="1"/>
			<!--Äàòà òà ÷àñ âñòàíîâëåííÿ êóðñó (ïðèñóòí³é ò³ëüêè äëÿ ÷åêó-äîâ³äêè) (ääììððððããõõññ)-->
			<xs:element name="VALCOURSEDATE" type="DateTimeColumn" minOccurs="0" maxOccurs="1"/>
			<!--Ñóìà âàëþòè ïî òèïó îïåðàö³¿, âêàçàíî¿ ó VALOPERTYPE (³íîçåìíà âàëþòà) (15.2 öèôðè)-->
			<xs:element name="VALFOREIGNSUM" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Ñóìà âàëþòè ïî òèïó îïåðàö³¿, âêàçàíî¿ ó VALOPERTYPE (íàö³îíàëüíà âàëþòà) (15.2 öèôðè)-->
			<xs:element name="VALNATIONALSUM" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Ñóìà êîì³ñ³¿ êîíâåðòàö³¿ (15.2 öèôðè)-->
			<xs:element name="VALCOMMISSION" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Ê³ëüê³ñòü ðîçðàõóíêîâèõ äîêóìåíò³â ïî îïåðàö³¿ (ïðèñóòí³é ò³ëüêè äëÿ ÷åêó-äîâ³äêè) (5 öèôð)-->
			<xs:element name="VALOPERCNT" type="Num5Column" minOccurs="0" maxOccurs="1"/>
			<!--Â³äìîâà â³ä ïðîäàæó-->
			<xs:element name="VALREFUSESELL" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<!--Ëîìáàðä-->
			<!--Íàïðÿìîê ðóõó êîøò³â: âèäàíî êë³ºíòó ëîìáàðäà (false)/îäåðæàíî â³ä êë³ºíòà ëîìáàðäà (true)-->
			<xs:element name="PWNDIR" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<!--Çíèæêà/íàö³íêà-->
			<!--Òèï çàñòîñóâàííÿ çíèæêè/íàö³íêè (÷èñëîâèé):
			    0Ïîïåðåäí³é ïðîäàæ, 1Ïðîì³æíèé ï³äñóìîê, 2Ñïåö³àëüíà...-->
			<xs:element name="USAGETYPE" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
			<!--Òèï çíèæêè/íàö³íêè (÷èñëîâèé):
			    0Ñóìîâà, 1Â³äñîòêîâà-->
			<xs:element name="DISCOUNTTYPE" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
			<!--Ïðîì³æíà ñóìà ÷åêó, íà ÿêó íàðàõîâóºòüñÿ çíèæêà/íàö³íêà (15.2 öèôðè)-->
			<xs:element name="SUBTOTAL" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Ïîðÿäêîâèé íîìåð îïåðàö³¿, äî ÿêî¿ â³äíîñèòüñÿ çíèæêà/íàö³íêà. Ïðèñóòí³é, ÿêùî çíèæêà/íàö³íêà ñòîñóºòüñÿ ëèøå îäí³º¿ îïåðàö³¿. (÷èñëîâèé)-->
			<xs:element name="DISCOUNTNUM" type="xs:positiveInteger" minOccurs="0" maxOccurs="1"/>
			<!--Ïîäàòîê, ÿêùî çíèæêà/íàö³íêà ñòîñóºòüñÿ ëèøå îäíîãî ïîäàòêó (1 ñèìâîë)-->
			<xs:element name="DISCOUNTTAX" type="TaxColumn" minOccurs="0" maxOccurs="1"/>
			<!--Â³äñîòîê çíèæêè/íàö³íêè, äëÿ â³äñîòêîâèõ çíèæîê/íàö³íîê (íå çàçíà÷àºòüñÿ ïðè ô³êñîâàí³é ñóì³ çíèæêè/íàö³íêè) (15.2 öèôðè)-->
			<xs:element name="DISCOUNTPERCENT" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà çíèæêè/íàö³íêè (15.2 öèôðè)-->
			<xs:element name="DISCOUNTSUM" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Êîìåíòàð-->
			<xs:element name="COMMENT" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!--Àêöèçí³ ìàðêè-->
			<xs:element name="EXCISELABELS" type="CExciseLabels" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>

	<!--Àêöèçí³ ìàðêè-->
	<xs:complexType name="CExciseLabels">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSEXCISELABEL" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSEXCISELABEL">
		<xs:sequence>
			<!--Ñåð³ÿ òà íîìåð ìàðêè àêöèçíîãî ïîäàòêó-->
			<xs:element name="EXCISELABEL" type="Str64Column" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>
</xs:schema>
