ЄВПЕЗ (Єдине вікно)/Схеми XSD/zrep01.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:simpleType name="DGDrfo">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:pattern value="([0-9]{5,10}|[ÀÁÂÃÄÅªÆÇÈ²ÊËÌÍÎÏÐÑÒÓÔÕÖ×ØÙÞß]{2}[0-9]{6})"/>
		</xs:restriction>
	</xs:simpleType>

	<!--Çàãàëüíèé òèï "²íäèâ³äóàëüíèé ïîäàòêîâèé íîìåð ïëàòíèêà ç ìîæëèâ³ñòþ âíåñåííÿ 0(íóëÿ)"-->
	<xs:simpleType name="DGHIPN0">
		<xs:annotation>
			<xs:documentation>Â³äïîâ³äíî äî Ïîëîæåííÿ ïðî ðåºñòðàö³þ ïëàòíèê³â ïîäàòêó íà äîäàíó âàðò³ñòü, ï.6.3 íàêàç
				ÄÏÀÓ â³ä 22.12.2010 ¹ 978 ²íäèâ³äóàëüíèé ïîäàòêîâèé íîìåð ïëàòíèêà, ìîæëèâ³ çíà÷åííÿ: * 0 (íóëü) * ÷èñëî
				â³ä 6 äî 12 öèôð * ¹ ïàñïîðòà</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0)|([0-9]{6,12})|([ÀÁÂÃÄÅªÆÇÈ²ÊËÌÍÎÏÐÑÒÓÔÕÖ×ØÙÞß]{2}[0-9]{6})"/>
		</xs:restriction>
		<!--17.02.2011 ìîäèô³êîâàíî â³äïîâ³äíî äî ëèñòà â³ä 17.02.11 ¹ 28-0517/61-->
	</xs:simpleType>

	<!--Çàãàëüíèé òèï "Äàòà ó ôîðìàò³ ääììðððð"-->
	<xs:simpleType name="DGDate">
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
			<xs:pattern
				value="((((0[1-9]|[1-2][0-9])(0(1|[3-9])|1[0-2]))|(30(0(1|[3-9])|1[0-2]))|(31(01|03|05|07|08|10|12)))(19|20)\d{2})|((0[1-9]|[1-2][0-9])02(19|20)(([0|2|4|6|8][0|4|8])|([1|3|5|7|9][2|6]))|(0[1-9]|[1-2][0-8]|19)02(19|20)(([0|2|4|6|8][1-3|5-7|9])|([1|3|5|7|9][0-1|3-5|7-9])))"
			/>
		</xs:restriction>
	</xs:simpleType>

	<!--Çàãàëüíèé òèï "×àñ ó ôîðìàò³ ããõõññ"-->
	<xs:simpleType name="DGTime">
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="(([0-1][0-9])|(2[0-3]))[0-5][0-9][0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGLetter">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGStr15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGStr128">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGStr256">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGStr64">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGDecimal0">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="\-{0,1}[0-9]+(\.0{1,2}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGDecimal2">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="\-{0,1}[0-9]+\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="LetterColumn">
		<xs:simpleContent>
			<xs:extension base="DGLetter"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="StrColumn">
		<xs:simpleContent>
			<xs:extension base="xs:string"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Str15Column">
		<xs:simpleContent>
			<xs:extension base="DGStr15"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Str64Column">
		<xs:simpleContent>
			<xs:extension base="DGStr64"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Decimal0Column">
		<xs:simpleContent>
			<xs:extension base="DGDecimal0"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Decimal2Column">
		<xs:simpleContent>
			<xs:extension base="DGDecimal2"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="PositiveIntegerColumn">
		<xs:simpleContent>
			<xs:extension base="xs:positiveInteger"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="rowInt">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="ZREP" type="ZRepContent"/>
	<xs:complexType name="ZRepContent">
		<xs:sequence>
			<!--Çàãîëîâîê-->
			<xs:element name="ZREPHEAD" type="ZHead" minOccurs="1" maxOccurs="1"/>
			<!--Ï³äñóìêè ðåàë³çàö³¿-->
			<xs:element name="ZREPREALIZ" type="ZPay" minOccurs="0" maxOccurs="1"/>
			<!--Ï³äñóìêè ïîâåðíåííÿ-->
			<xs:element name="ZREPRETURN" type="ZPay" minOccurs="0" maxOccurs="1"/>
			<!--Ï³äñóìêè âèäà÷³ ãîò³âêè-->
			<xs:element name="ZREPCASH" type="ZCash" minOccurs="0" maxOccurs="1"/>
			<!--Ï³äñóìêè îïåðàö³é ç ³íîçåìíîþ âàëþòîþ-->
			<xs:element name="ZREPVAL" type="ZVal" minOccurs="0" maxOccurs="1"/>
			<!--Ï³äñóìêè îïåðàö³é äëÿ ÀÇÑ-->
			<xs:element name="ZREPFUEL" type="ZFuel" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüí³ ï³äñóìêè-->
			<xs:element name="ZREPBODY" type="ZBody" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!--Çàãîëîâîê-->
	<xs:complexType name="ZHead">
		<xs:sequence>
			<!--Óí³êàëüíèé ³äåíòèô³êàòîð äîêóìåíòà (GUID)-->
			<xs:element name="UID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!--ªÄÐÏÎÓ/ÄÐÔÎ/¹ ïàñïîðòà ïðîäàâöÿ (10 ñèìâîë³â)-->
			<xs:element name="TIN" type="DGDrfo" minOccurs="1" maxOccurs="1"/>
			<!--Ïîäàòêîâèé íîìåð àáî ²íäèâ³äóàëüíèé íîìåð ïëàòíèêà ÏÄÂ (12 ñèìâîë³â)-->
			<xs:element name="IPN" type="DGHIPN0" minOccurs="0" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ ïðîäàâöÿ (256 ñèìâîë³â)-->
			<xs:element name="ORGNM" type="DGStr256" minOccurs="1" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ òî÷êè ïðîäàæó (256 ñèìâîë³â)-->
			<xs:element name="POINTNM" type="DGStr256" minOccurs="1" maxOccurs="1"/>
			<!--Àäðåñà òî÷êè ïðîäàæó (256 ñèìâîë³â)-->
			<xs:element name="POINTADDR" type="DGStr256" minOccurs="0" maxOccurs="1"/>
			<!--Äàòà îïåðàö³¿ (ääììðððð)-->
			<xs:element name="ORDERDATE" type="DGDate" minOccurs="1" maxOccurs="1"/>
			<!--×àñ îïåðàö³¿ (ããõõññ)-->
			<xs:element name="ORDERTIME" type="DGTime" minOccurs="1" maxOccurs="1"/>
			<!--Ëîêàëüíèé íîìåð äîêóìåíòà (÷èñëîâèé)-->
			<xs:element name="ORDERNUM" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
			<!--Ëîêàëüíèé íîìåð ïðîãðàìíîãî ðåºñòðàòîðà ðîçðàõóíêîâèõ îïåðàö³é (÷èñëîâèé)-->
			<xs:element name="CASHDESKNUM" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
			<!--Ô³ñêàëüíèé íîìåð ïðîãðàìíîãî ðåºñòðàòîðà ðîçðàõóíêîâèõ îïåðàö³é (÷èñëîâèé)-->
			<xs:element name="CASHREGISTERNUM" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
			<!--Ï²Á êàñèðà (128 ñèìâîë³â)-->
			<xs:element name="CASHIER" type="DGStr128" minOccurs="0" maxOccurs="1"/>
			<!--Âåðñ³ÿ ôîðìàòó äîêóìåíòà (÷èñëîâèé)-->
			<xs:element name="VER" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<!--Ô³ñêàëüíèé íîìåð äîêóìåíòà (128 ñèìâîë³â)-->
			<xs:element name="ORDERTAXNUM" type="DGStr128" minOccurs="0" maxOccurs="1"/>
			<!--Îçíàêà îôëàéí äîêóìåíòà-->
			<xs:element name="OFFLINE" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<!--Ãåø ïîïåðåäíüîãî äîêóìåíòà â ðåæèì³ îôëàéí (64 ñèìâîëè)-->
			<xs:element name="PREVDOCHASH" type="DGStr64" minOccurs="0" maxOccurs="1"/>
			<!--Äîêóìåíò â³äêëèêàíî-->
			<xs:element name="REVOKED" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<!--Îçíàêà òåñòîâîãî íåô³ñêàëüíîãî äîêóìåíòà-->
			<xs:element name="TESTING" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!--Ï³äñóìêè ðåàë³çàö³¿ ³ ïîâåðíåííÿ-->
	<xs:complexType name="ZPay">
		<xs:sequence>
			<!--Çàãàëüíà ñóìà (15.2 öèôðè)-->
			<xs:element name="SUM" type="DGDecimal2" minOccurs="1" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà êîøò³â, âèäàíèõ êë³ºíòó ëîìáàðäà (15.2 öèôðè)-->
			<xs:element name="PWNSUMISSUED" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà êîøò³â, îäåðæàíèõ â³ä êë³ºíòà ëîìáàðäà (15.2 öèôðè)-->
			<xs:element name="PWNSUMRECEIVED" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Çàîêðóãëåííÿ (15.2 öèôðè) (íàïðèêëàä, 0.71)-->
			<xs:element name="RNDSUM" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà áåç çàîêðóãëåííÿ (15.2 öèôðè) (íàïðèêëàä, 1000.71)-->
			<xs:element name="NORNDSUM" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Ê³ëüê³ñòü ÷åê³â (÷èñëîâèé)-->
			<xs:element name="ORDERSCNT" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
			<!--Ê³ëüê³ñòü îïåðàö³é ïåðåêàçó êîøò³â (÷èñëîâèé)-->
			<xs:element name="TOTALCURRENCYCOST" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà ïåðåêàç³â êîøò³â (15.2 öèôðè)-->
			<xs:element name="TOTALCURRENCYSUM" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà êîì³ñ³¿ â³ä ïåðåêàç³â êîøò³â (15.2 öèôðè)-->
			<xs:element name="TOTALCURRENCYCOMMISSION" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Ï³äñóìêè ïî ôîðìàì îïëàòè-->
			<xs:element name="PAYFORMS" type="ZPayForms" minOccurs="0" maxOccurs="1"/>
			<!--Ïîäàòêè/Çáîðè-->
			<xs:element name="TAXES" type="ZTax" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!--Ï³äñóìêè âèäà÷³ ãîò³âêè-->
	<xs:complexType name="ZCash">
		<xs:sequence>
			<!--Çàãàëüíà ñóìà (15.2 öèôðè)-->
			<xs:element name="SUM" type="DGDecimal2" minOccurs="1" maxOccurs="1"/>
			<!--Ñóìà êîì³ñ³¿ (15.2 öèôðè)-->
			<xs:element name="COMMISSION" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Ê³ëüê³ñòü ÷åê³â (÷èñëîâèé)-->
			<xs:element name="ORDERSCNT" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!--Ï³äñóìêè îïåðàö³é ç ³íîçåìíîþ âàëþòîþ-->
	<xs:complexType name="ZVal">
		<xs:sequence>
			<!--Îòðèìàíî àâàíñ³â íàö³îíàëüíîþ âàëþòîþ (15.2 öèôðè)-->
			<xs:element name="TOTALINADVANCE" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Îòðèìàíî ï³äêð³ïëåíü íàö³îíàëüíîþ âàëþòîþ (15.2 öèôðè)-->
			<xs:element name="TOTALINATTACH" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Çäàíî ïî ³íêàñàö³¿ íàö³îíàëüíîþ âàëþòîþ (15.2 öèôðè)-->
			<xs:element name="TOTALSURRCOLLECTION" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Îòðèìàíî êîì³ñ³¿ çà îïåðàö³ÿìè êîíâåðòàö³¿ (15.2 öèôðè)-->
			<xs:element name="COMMISSION" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Ê³ëüê³ñòü ðîçðàõóíêîâèõ äîêóìåíò³â çà çì³íó (÷èñëîâèé)-->
			<xs:element name="CALCDOCSCNT" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
			<!--Ïðèéíÿòî íàö³îíàëüíî¿ âàëþòè äëÿ ïåðåêàçó (15.2 öèôðè)-->
			<xs:element name="ACCEPTEDN" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Âèäàíî íàö³îíàëüíî¿ âàëþòè ïðè âèïëàò³ ïåðåêàçó (15.2 öèôðè)-->
			<xs:element name="ISSUEDN" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Îòðèìàíî êîì³ñ³¿ â íàö³îíàëüí³é âàëþò³ ïðè çä³éñíåíí³ ïåðåêàç³â (15.2 öèôðè)-->
			<xs:element name="COMMISSIONN" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Ê³ëüê³ñòü îïåðàö³é (äîêóìåíò³â) ïåðåêàç³â àáî âèïëàò ïåðåêàç³â (÷èñëîâèé)-->
			<xs:element name="TRANSFERSCNT" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
			<!--Ï³äñóìêè ïî âèäàì ³íîçåìíî¿ âàëþòè-->
			<xs:element name="DETAILS" type="ZValDetails" minOccurs="0" maxOccurs="1"/>
			<!--Ïîäàòêè/Çáîðè-->
			<xs:element name="TAXES" type="ZTax" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!--Ï³äñóìêè ïî âèäàì ³íîçåìíî¿ âàëþòè-->
	<xs:complexType name="ZValDetails">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSVAL" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSVAL">
		<xs:sequence>
			<!--Ïîðÿäêîâèé íîìåð âàëþòè (÷èñëîâèé)-->
			<xs:element name="VALNUM" type="Decimal0Column" minOccurs="0" maxOccurs="1"/>
			<!--Êîä âàëþòè (÷èñëîâèé)-->
			<xs:element name="VALCD" type="PositiveIntegerColumn" minOccurs="1" maxOccurs="1"/>
			<!--Ñèìâîëüíèé êîä âàëþòè (64 ñèìâîë³â)-->
			<xs:element name="VALSYMCD" type="Str64Column" minOccurs="1" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ ³íîçåìíî¿ âàëþòè (òåêñò)-->
			<xs:element name="VALNM" type="StrColumn" minOccurs="0" maxOccurs="1"/>
			<!--Êóðñ êóï³âë³ (ÕÕÕÕ.ÕÕÕÕÕÕÕÕ) íà ìîìåíò çàêðèòòÿ çì³íè àáî êóðñ îïåðàö³é ó âèïàäêó çì³íè êóðñó (64 ñèìâîëè)-->
			<xs:element name="COURSEBUY" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Êóðñ ïðîäàæó (ÕÕÕÕ.ÕÕÕÕÕÕÕÕ) íà ìîìåíò çàêðèòòÿ çì³íè àáî êóðñ îïåðàö³é ó âèïàäêó çì³íè êóðñó (64 ñèìâîëè)-->
			<xs:element name="COURSESELL" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Êóðñ ðåãóëÿòîðà (ÕÕÕÕ.ÕÕÕÕÕÕÕÕ) (64 ñèìâîëè)-->
			<xs:element name="COURSEREG" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà ïðèäáàíî¿ ³íîçåìíî¿ âàëþòè (15.2 öèôðè)-->
			<xs:element name="BUYVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà ïðîäàíî¿ ³íîçåìíî¿ âàëþòè (15.2 öèôðè)-->
			<xs:element name="SELLVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà ïðèäáàíî¿ íàö³îíàëüíî¿ âàëþòè (15.2 öèôðè)-->
			<xs:element name="BUYVALN" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà ïðîäàíî¿ íàö³îíàëüíî¿ âàëþòè (15.2 öèôðè)-->
			<xs:element name="SELLVALN" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà ïîâåðíåíî¿ êë³ºíòàìè ³íîçåìíî¿ âàëþòè çà îïåðàö³ÿìè «ñòîðíî» (15.2 öèôðè)-->
			<xs:element name="STORBUYVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà âèäàíî¿ êë³ºíòàì ³íîçåìíî¿ âàëþòè çà îïåðàö³ÿìè «ñòîðíî» (15.2 öèôðè)-->
			<xs:element name="STORSELLVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà ïîâåðíåíî¿ êë³ºíòàìè íàö³îíàëüíî¿ âàëþòè çà îïåðàö³ÿìè «ñòîðíî» (15.2 öèôðè)-->
			<xs:element name="STORBUYVALN" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà âèäàíî¿ êë³ºíòàì íàö³îíàëüíî¿ âàëþòè çà îïåðàö³ÿìè «ñòîðíî» (15.2 öèôðè)-->
			<xs:element name="STORSELLVALN" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà ïðèéíÿòî¿ ³íîçåìíî¿ âàëþòè çà îïåðàö³ÿìè êîíâåðòàö³¿ (15.2 öèôðè)-->
			<xs:element name="CINVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà âèäàíî¿ ³íîçåìíî¿ âàëþòè çà îïåðàö³ÿìè êîíâåðòàö³¿ (15.2 öèôðè)-->
			<xs:element name="COUTVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà âèäàíî¿ ³íîçåìíî¿ âàëþòè çà îïåðàö³ÿìè îáì³íó íåâèêîðèñòàíî¿ íàö³îíàëüíî¿ âàëþòè (15.2 öèôðè)-->
			<xs:element name="UNUSVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà ïðèéíÿòî¿ â³ä êë³ºíò³â íàö³îíàëüíî¿ âàëþòè çà «îïåðàö³ÿìè îáì³íó íåâèêîðèñòàíî¿ íàö³îíàëüíî¿ âàëþòè» (15.2 öèôðè)-->
			<xs:element name="UNUSVALN" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Çàãàëüíà ñóìà êîì³ñ³¿ çà îïåðàö³ÿìè êîíâåðòàö³¿ (15.2 öèôðè)-->
			<xs:element name="COMMISSION" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Îòðèìàíî àâàíñ³â (15.2 öèôðè)-->
			<xs:element name="INADVANCE" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Îòðèìàíî ï³äêð³ïëåíü (15.2 öèôðè)-->
			<xs:element name="INATTACH" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Çäàíî ïî ³íêàñàö³¿ (15.2 öèôðè)-->
			<xs:element name="SURRCOLLECTION" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Ïîâåðíóòî êë³ºíòàìè âàëþòè ïî ñòîðíî îáì³íó íåâèêîðèñòàíî¿ íàö³îíàëüíî¿ âàëþòè (15.2 öèôðè)-->
			<xs:element name="STORUNUSVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Âèäàíî êë³ºíòàì íàö³îíàëüíî¿ âàëþòè çà ñòîðíî îáì³íó íåâèêîðèñòàíî¿ íàö³îíàëüíî¿ âàëþòè (15.2 öèôðè)-->
			<xs:element name="STORUNUSVALN" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Âèäàíî ³íîçåìíî¿ âàëþòè ïî ñòîðíî êîíâåðòàö³¿ (15.2 öèôðè)-->
			<xs:element name="STORCINVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Ïîâåðíóòî ³íîçåìíî¿ âàëþòè ïî ñòîðíî êîíâåðòàö³¿ (15.2 öèôðè)-->
			<xs:element name="STORCOUTVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Ïîâåðíóòî ñóìó êîì³ñ³¿ ç³ ñòîðíî êîíâåðòàö³¿ (15.2 öèôðè)-->
			<xs:element name="STORCOMMISSION" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Êðîñ-êóðñ, êîä âàëþòè (64 ñèìâîëè)-->
			<xs:element name="VALCRCD" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Êðîñ-êóðñ, ñèìâîëüíèé êîä âàëþòè (64 ñèìâîëè)-->
			<xs:element name="CROSSSYMCD" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Êðîñ-êóðñ (ÕÕÕÕ.ÕÕÕÕÕÕÕÕ) (64 ñèìâîëè)-->
			<xs:element name="CROSSCOURSE" type="Str64Column" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>

	<!--Ï³äñóìêè ïî ôîðìàì îïëàòè-->
	<xs:complexType name="ZPayForms">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSPAYFORMS" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSPAYFORMS">
		<xs:sequence>
			<!--Êîä ôîðìè îïëàòè (÷èñëîâèé):
			    0Ãîò³âêà, 1Áàíê³âñüêà êàðòêà, 2-Ïîïåðåäíÿ îïëàòà, 3-Êðåäèò, ...-->
			<xs:element name="PAYFORMCD" type="Decimal0Column" minOccurs="1" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ ôîðìè îïëàòè (128 ñèìâîë³â)-->
			<xs:element name="PAYFORMNM" type="StrColumn" minOccurs="1" maxOccurs="1"/>
			<!--Ñóìà îïëàòè (15.2 öèôðè)-->
			<xs:element name="SUM" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>

	<!--Ïîäàòêè/Çáîðè-->
	<xs:complexType name="ZTax">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSTAX" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSTAX">
		<xs:sequence>
			<!--Êîä âèäó ïîäàòêó/çáîðó (÷èñëîâèé):
			    0-ÏÄÂ,1-Àêöèç,2-ÏÔ...-->
			<xs:element name="TYPE" type="Decimal0Column" minOccurs="1" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ âèäó ïîäàòêó/çáîðó (64 ñèìâîëè)-->
			<xs:element name="NAME" type="Str64Column" minOccurs="1" maxOccurs="1"/>
			<!--Ë³òåðíå ïîçíà÷åííÿ âèäó ³ ñòàâêè ïîäàòêó/çáîðó (À,Á,Â,Ã,...) (1 ñèìâîë)-->
			<xs:element name="LETTER" type="LetterColumn" minOccurs="0" maxOccurs="1"/>
			<!--Â³äñîòîê ïîäàòêó/çáîðó (15.2 öèôðè)-->
			<xs:element name="PRC" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
			<!--Îçíàêà ïîäàòêó/çáîðó, íå âêëþ÷åíîãî ó âàðò³ñòü-->
			<xs:element name="SIGN" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<!--Ñóìà îáñÿã³â äëÿ ðîçðàõóâàííÿ ïîäàòêó/çáîðó (15.2 öèôðè)-->
			<xs:element name="TURNOVER" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
			<!--Ñóìà îáñÿã³â äëÿ ðîçðàõóâàííÿ ïîäàòêó/çáîðó ç óðàõóâàííÿì çíèæêè (15.2 öèôðè)-->
			<xs:element name="TURNOVERDISCOUNT" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Âèõ³äíà ñóìà äëÿ ðîçðàõóâàííÿ ïîäàòêó/çáîðó (15.2 öèôðè)-->
			<xs:element name="SOURCESUM" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Ñóìà ïîäàòêó/çáîðó (15.2 öèôðè)-->
			<xs:element name="SUM" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>

	<!--Ï³äñóìêè îïåðàö³é äëÿ ÀÇÑ-->
	<xs:complexType name="ZFuel">
		<xs:sequence>
			<!--Ï³äñóìêè ïî âèäàì ïàëüíîãî-->
			<xs:element name="DETAILS" type="ZFuelDetails" minOccurs="1" maxOccurs="1"/>
			<!--Çàëèøêè ïàëüíîãî â ðîçõ³äíèõ ðåçåðâóàðàõ-->
			<xs:element name="REMAINS" type="ZFuelRemains" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!--Ï³äñóìêè ïî âèäàì ïàëüíîãî-->
	<xs:complexType name="ZFuelDetails">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSFUELDETAILS" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSFUELDETAILS">
		<xs:sequence>
			<!--Íàéìåíóâàííÿ òîâàðó (ïàëüíîãî) (òåêñò)-->
			<xs:element name="NAME" type="StrColumn" minOccurs="1" maxOccurs="1"/>
			<!--Îáñÿã ïðèéíÿòîãî ïàëüíîãî ó ì³ë³ë³òðàõ (15.2 öèôðè)-->
			<xs:element name="ACCEPTED" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Îáñÿã â³äïóùåíîãî ïàëüíîãî ó ì³ë³ë³òðàõ (15.2 öèôðè)-->
			<xs:element name="REALIZVOL" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Îáñÿã ïàëüíîãî, â³äïóùåíîãî â ïðîöåñ³ ïîâ³ðêè ïàëèâíî-ðîçäàâàëüíî¿ êîëîíêè,  ó ì³ë³ë³òðàõ (15.2 öèôðè)-->
			<xs:element name="REALIZPRK" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Ñóìà êîøò³â, ïðèéíÿòèõ çà â³äïóùåíå ïàëüíå (15.2 öèôðè)-->
			<xs:element name="REALIZCOST" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Îáñÿã çàëèøêó ïàëüíîãî ó ì³ë³ë³òðàõ (15.2 öèôðè)-->
			<xs:element name="REMAINS" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Ñóìè îòðèìàíèõ êîøò³â ïî ôîðìàì îïëàòè-->
			<xs:element name="PAYFORMS" type="ZFuelPayForms" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>

	<!--Ñóìè îòðèìàíèõ êîøò³â ïî ôîðìàì îïëàòè-->
	<xs:complexType name="ZFuelPayForms">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSFUELPAYFORMS" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSFUELPAYFORMS">
		<xs:sequence>
			<!--Êîä ôîðìè îïëàòè (1 ñèìâîë)-->
			<!--0  Ãîò³âêà, 1  Áàíê³âñüêà êàðòêà...-->
			<xs:element name="PAYFORMCD" type="Decimal0Column" minOccurs="1" maxOccurs="1"/>
			<!--Íàéìåíóâàííÿ ôîðìè îïëàòè (64 ñèìâîëè)-->
			<xs:element name="PAYFORMNM" type="StrColumn" minOccurs="1" maxOccurs="1"/>
			<!--Ñóìà îïëàòè (15.2 öèôðè)-->
			<xs:element name="SUM" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
			<!--Îáñÿã ïàëüíîãî, â³äïóùåíîãî ïî äàí³é ôîðì³ îïëàòè, ó ì³ë³ë³òðàõ (15.2 öèôðè)-->
			<xs:element name="AMOUNT" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>

	<!--Çàëèøêè ïàëüíîãî â ðîçõ³äíèõ ðåçåðâóàðàõ-->
	<xs:complexType name="ZFuelRemains">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSFUELREMAINS" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSFUELREMAINS">
		<xs:sequence>
			<!--Íàéìåíóâàííÿ òîâàðó (ïàëüíîãî) (òåêñò)-->
			<xs:element name="NAME" type="StrColumn" minOccurs="1" maxOccurs="1"/>
			<!--Íîìåð ðîçõ³äíîãî ðåçåðâóàðó (64 ñèìâîëè)-->
			<xs:element name="TANKNUM" type="Str64Column" minOccurs="1" maxOccurs="1"/>
			<!--Íîìåð ïàëèâíî-ðîçäàâàëüíî¿ êîëîíêè (64 ñèìâîëè)-->
			<xs:element name="COLUMNNUM" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Íîìåð êðàíó ïàëèâíî-ðîçäàâàëüíî¿ êîëîíêè (64 ñèìâîëè)-->
			<xs:element name="FAUCETNUM" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Îáñÿã çàëèøêó ïàëüíîãî ó ì³ë³ë³òðàõ (15.2 öèôðè)-->
			<xs:element name="REMAINS" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>

	<!--Çàãàëüí³ ï³äñóìêè-->
	<xs:complexType name="ZBody">
		<xs:sequence>
			<!--Ñëóæáîâå âíåñåííÿ//Îòðèìàííÿ àâàíñó/Îòðèìàííÿ ï³äêð³ïëåííÿ (15.2 öèôðè)-->
			<xs:element name="SERVICEINPUT" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Ñëóæáîâà âèäà÷à/²íêàñàö³ÿ (15.2 öèôðè)-->
			<xs:element name="SERVICEOUTPUT" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Äåðæàâíèé ðåºñòðàö³éíèé íîìåð òðàíñïîðòíîãî çàñîáó (64 ñèìâîëè)-->
			<xs:element name="VEHICLERN" type="DGStr64" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
