Єдине вікно подання електронної звітності/Схеми XSD/zrep01.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:simpleType name="DGDrfo">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:pattern value="([0-9]{5,10}|[АБВГДЕЄЖЗИІКЛМНОПРСТУФХЦЧШЩЮЯ]{2}[0-9]{6})"/>
		</xs:restriction>
	</xs:simpleType>

	<!--Загальний тип "Індивідуальний податковий номер платника з можливістю внесення 0(нуля)"-->
	<xs:simpleType name="DGHIPN0">
		<xs:annotation>
			<xs:documentation>Відповідно до Положення про реєстрацію платників податку на додану вартість, п.6.3 наказ
				ДПАУ від 22.12.2010 № 978 Індивідуальний податковий номер платника, можливі значення: * 0 (нуль) * число
				від 6 до 12 цифр * № паспорта</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0)|([0-9]{6,12})|([АБВГДЕЄЖЗИІКЛМНОПРСТУФХЦЧШЩЮЯ]{2}[0-9]{6})"/>
		</xs:restriction>
		<!--17.02.2011 модифіковано відповідно до листа від 17.02.11 № 28-0517/61-->
	</xs:simpleType>

	<!--Загальний тип "Дата у форматі ддммрррр"-->
	<xs:simpleType name="DGDate">
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
			<xs:pattern
				value="((((0[1-9]|[1-2][0-9])(0(1|[3-9])|1[0-2]))|(30(0(1|[3-9])|1[0-2]))|(31(01|03|05|07|08|10|12)))(19|20)\d{2})|((0[1-9]|[1-2][0-9])02(19|20)(([0|2|4|6|8][0|4|8])|([1|3|5|7|9][2|6]))|(0[1-9]|[1-2][0-8]|19)02(19|20)(([0|2|4|6|8][1-3|5-7|9])|([1|3|5|7|9][0-1|3-5|7-9])))"
			/>
		</xs:restriction>
	</xs:simpleType>

	<!--Загальний тип "Час у форматі ггххсс"-->
	<xs:simpleType name="DGTime">
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="(([0-1][0-9])|(2[0-3]))[0-5][0-9][0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGLetter">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGStr15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGStr128">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGStr256">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGStr64">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGDecimal0">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="\-{0,1}[0-9]+(\.0{1,2}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DGDecimal2">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="\-{0,1}[0-9]+\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="LetterColumn">
		<xs:simpleContent>
			<xs:extension base="DGLetter"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="StrColumn">
		<xs:simpleContent>
			<xs:extension base="xs:string"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Str15Column">
		<xs:simpleContent>
			<xs:extension base="DGStr15"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Str64Column">
		<xs:simpleContent>
			<xs:extension base="DGStr64"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Decimal0Column">
		<xs:simpleContent>
			<xs:extension base="DGDecimal0"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Decimal2Column">
		<xs:simpleContent>
			<xs:extension base="DGDecimal2"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="PositiveIntegerColumn">
		<xs:simpleContent>
			<xs:extension base="xs:positiveInteger"> </xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="rowInt">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="ZREP" type="ZRepContent"/>
	<xs:complexType name="ZRepContent">
		<xs:sequence>
			<!--Заголовок-->
			<xs:element name="ZREPHEAD" type="ZHead" minOccurs="1" maxOccurs="1"/>
			<!--Підсумки реалізації-->
			<xs:element name="ZREPREALIZ" type="ZPay" minOccurs="0" maxOccurs="1"/>
			<!--Підсумки повернення-->
			<xs:element name="ZREPRETURN" type="ZPay" minOccurs="0" maxOccurs="1"/>
			<!--Підсумки видачі готівки-->
			<xs:element name="ZREPCASH" type="ZCash" minOccurs="0" maxOccurs="1"/>
			<!--Підсумки операцій з іноземною валютою-->
			<xs:element name="ZREPVAL" type="ZVal" minOccurs="0" maxOccurs="1"/>
			<!--Підсумки операцій для АЗС-->
			<xs:element name="ZREPFUEL" type="ZFuel" minOccurs="0" maxOccurs="1"/>
			<!--Загальні підсумки-->
			<xs:element name="ZREPBODY" type="ZBody" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!--Заголовок-->
	<xs:complexType name="ZHead">
		<xs:sequence>
			<!--Унікальний ідентифікатор документа (GUID)-->
			<xs:element name="UID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!--ЄДРПОУ/ДРФО/№ паспорта продавця (10 символів)-->
			<xs:element name="TIN" type="DGDrfo" minOccurs="1" maxOccurs="1"/>
			<!--Податковий номер або Індивідуальний номер платника ПДВ (12 символів)-->
			<xs:element name="IPN" type="DGHIPN0" minOccurs="0" maxOccurs="1"/>
			<!--Найменування продавця (256 символів)-->
			<xs:element name="ORGNM" type="DGStr256" minOccurs="1" maxOccurs="1"/>
			<!--Найменування точки продажу (256 символів)-->
			<xs:element name="POINTNM" type="DGStr256" minOccurs="1" maxOccurs="1"/>
			<!--Адреса точки продажу (256 символів)-->
			<xs:element name="POINTADDR" type="DGStr256" minOccurs="0" maxOccurs="1"/>
			<!--Дата операції (ддммрррр)-->
			<xs:element name="ORDERDATE" type="DGDate" minOccurs="1" maxOccurs="1"/>
			<!--Час операції (ггххсс)-->
			<xs:element name="ORDERTIME" type="DGTime" minOccurs="1" maxOccurs="1"/>
			<!--Локальний номер документа (числовий)-->
			<xs:element name="ORDERNUM" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
			<!--Локальний номер програмного реєстратора розрахункових операцій (числовий)-->
			<xs:element name="CASHDESKNUM" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
			<!--Фіскальний номер програмного реєстратора розрахункових операцій (числовий)-->
			<xs:element name="CASHREGISTERNUM" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
			<!--ПІБ касира (128 символів)-->
			<xs:element name="CASHIER" type="DGStr128" minOccurs="0" maxOccurs="1"/>
			<!--Версія формату документа (числовий)-->
			<xs:element name="VER" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<!--Фіскальний номер документа (128 символів)-->
			<xs:element name="ORDERTAXNUM" type="DGStr128" minOccurs="0" maxOccurs="1"/>
			<!--Ознака офлайн документа-->
			<xs:element name="OFFLINE" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<!--Геш попереднього документа в режимі офлайн (64 символи)-->
			<xs:element name="PREVDOCHASH" type="DGStr64" minOccurs="0" maxOccurs="1"/>
			<!--Документ відкликано-->
			<xs:element name="REVOKED" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<!--Ознака тестового нефіскального документа-->
			<xs:element name="TESTING" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!--Підсумки реалізації і повернення-->
	<xs:complexType name="ZPay">
		<xs:sequence>
			<!--Загальна сума (15.2 цифри)-->
			<xs:element name="SUM" type="DGDecimal2" minOccurs="1" maxOccurs="1"/>
			<!--Загальна сума коштів, виданих клієнту ломбарда (15.2 цифри)-->
			<xs:element name="PWNSUMISSUED" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума коштів, одержаних від клієнта ломбарда (15.2 цифри)-->
			<xs:element name="PWNSUMRECEIVED" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Заокруглення (15.2 цифри) (наприклад, 0.71)-->
			<xs:element name="RNDSUM" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума без заокруглення (15.2 цифри) (наприклад, 1000.71)-->
			<xs:element name="NORNDSUM" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Кількість чеків (числовий)-->
			<xs:element name="ORDERSCNT" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
			<!--Кількість операцій переказу коштів (числовий)-->
			<xs:element name="TOTALCURRENCYCOST" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума переказів коштів (15.2 цифри)-->
			<xs:element name="TOTALCURRENCYSUM" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума комісії від переказів коштів (15.2 цифри)-->
			<xs:element name="TOTALCURRENCYCOMMISSION" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Підсумки по формам оплати-->
			<xs:element name="PAYFORMS" type="ZPayForms" minOccurs="0" maxOccurs="1"/>
			<!--Податки/Збори-->
			<xs:element name="TAXES" type="ZTax" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!--Підсумки видачі готівки-->
	<xs:complexType name="ZCash">
		<xs:sequence>
			<!--Загальна сума (15.2 цифри)-->
			<xs:element name="SUM" type="DGDecimal2" minOccurs="1" maxOccurs="1"/>
			<!--Сума комісії (15.2 цифри)-->
			<xs:element name="COMMISSION" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Кількість чеків (числовий)-->
			<xs:element name="ORDERSCNT" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!--Підсумки операцій з іноземною валютою-->
	<xs:complexType name="ZVal">
		<xs:sequence>
			<!--Отримано авансів національною валютою (15.2 цифри)-->
			<xs:element name="TOTALINADVANCE" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Отримано підкріплень національною валютою (15.2 цифри)-->
			<xs:element name="TOTALINATTACH" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Здано по інкасації національною валютою (15.2 цифри)-->
			<xs:element name="TOTALSURRCOLLECTION" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Отримано комісії за операціями конвертації (15.2 цифри)-->
			<xs:element name="COMMISSION" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Кількість розрахункових документів за зміну (числовий)-->
			<xs:element name="CALCDOCSCNT" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
			<!--Прийнято національної валюти для переказу (15.2 цифри)-->
			<xs:element name="ACCEPTEDN" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Видано національної валюти при виплаті переказу (15.2 цифри)-->
			<xs:element name="ISSUEDN" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Отримано комісії в національній валюті при здійсненні переказів (15.2 цифри)-->
			<xs:element name="COMMISSIONN" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Кількість операцій (документів) переказів або виплат переказів (числовий)-->
			<xs:element name="TRANSFERSCNT" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
			<!--Підсумки по видам іноземної валюти-->
			<xs:element name="DETAILS" type="ZValDetails" minOccurs="0" maxOccurs="1"/>
			<!--Податки/Збори-->
			<xs:element name="TAXES" type="ZTax" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!--Підсумки по видам іноземної валюти-->
	<xs:complexType name="ZValDetails">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSVAL" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSVAL">
		<xs:sequence>
			<!--Порядковий номер валюти (числовий)-->
			<xs:element name="VALNUM" type="Decimal0Column" minOccurs="0" maxOccurs="1"/>
			<!--Код валюти (числовий)-->
			<xs:element name="VALCD" type="PositiveIntegerColumn" minOccurs="1" maxOccurs="1"/>
			<!--Символьний код валюти (64 символів)-->
			<xs:element name="VALSYMCD" type="Str64Column" minOccurs="1" maxOccurs="1"/>
			<!--Найменування іноземної валюти (текст)-->
			<xs:element name="VALNM" type="StrColumn" minOccurs="0" maxOccurs="1"/>
			<!--Курс купівлі (ХХХХ.ХХХХХХХХ) на момент закриття зміни або курс операцій у випадку зміни курсу (64 символи)-->
			<xs:element name="COURSEBUY" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Курс продажу (ХХХХ.ХХХХХХХХ) на момент закриття зміни або курс операцій у випадку зміни курсу (64 символи)-->
			<xs:element name="COURSESELL" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Курс регулятора (ХХХХ.ХХХХХХХХ) (64 символи)-->
			<xs:element name="COURSEREG" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума придбаної іноземної валюти (15.2 цифри)-->
			<xs:element name="BUYVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума проданої іноземної валюти (15.2 цифри)-->
			<xs:element name="SELLVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума придбаної національної валюти (15.2 цифри)-->
			<xs:element name="BUYVALN" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума проданої національної валюти (15.2 цифри)-->
			<xs:element name="SELLVALN" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума поверненої клієнтами іноземної валюти за операціями «сторно» (15.2 цифри)-->
			<xs:element name="STORBUYVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума виданої клієнтам іноземної валюти за операціями «сторно» (15.2 цифри)-->
			<xs:element name="STORSELLVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума поверненої клієнтами національної валюти за операціями «сторно» (15.2 цифри)-->
			<xs:element name="STORBUYVALN" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума виданої клієнтам національної валюти за операціями «сторно» (15.2 цифри)-->
			<xs:element name="STORSELLVALN" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума прийнятої іноземної валюти за операціями конвертації (15.2 цифри)-->
			<xs:element name="CINVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума виданої іноземної валюти за операціями конвертації (15.2 цифри)-->
			<xs:element name="COUTVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума виданої іноземної валюти за операціями обміну невикористаної національної валюти (15.2 цифри)-->
			<xs:element name="UNUSVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума прийнятої від клієнтів національної валюти за «операціями обміну невикористаної національної валюти» (15.2 цифри)-->
			<xs:element name="UNUSVALN" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Загальна сума комісії за операціями конвертації (15.2 цифри)-->
			<xs:element name="COMMISSION" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Отримано авансів (15.2 цифри)-->
			<xs:element name="INADVANCE" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Отримано підкріплень (15.2 цифри)-->
			<xs:element name="INATTACH" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Здано по інкасації (15.2 цифри)-->
			<xs:element name="SURRCOLLECTION" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Повернуто клієнтами валюти по сторно обміну невикористаної національної валюти (15.2 цифри)-->
			<xs:element name="STORUNUSVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Видано клієнтам національної валюти за сторно обміну невикористаної національної валюти (15.2 цифри)-->
			<xs:element name="STORUNUSVALN" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Видано іноземної валюти по сторно конвертації (15.2 цифри)-->
			<xs:element name="STORCINVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Повернуто іноземної валюти по сторно конвертації (15.2 цифри)-->
			<xs:element name="STORCOUTVALI" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Повернуто суму комісії зі сторно конвертації (15.2 цифри)-->
			<xs:element name="STORCOMMISSION" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Крос-курс, код валюти (64 символи)-->
			<xs:element name="VALCRCD" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Крос-курс, символьний код валюти (64 символи)-->
			<xs:element name="CROSSSYMCD" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Крос-курс (ХХХХ.ХХХХХХХХ) (64 символи)-->
			<xs:element name="CROSSCOURSE" type="Str64Column" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>

	<!--Підсумки по формам оплати-->
	<xs:complexType name="ZPayForms">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSPAYFORMS" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSPAYFORMS">
		<xs:sequence>
			<!--Код форми оплати (числовий):
			    0–Готівка, 1–Банківська картка, 2-Попередня оплата, 3-Кредит, ...-->
			<xs:element name="PAYFORMCD" type="Decimal0Column" minOccurs="1" maxOccurs="1"/>
			<!--Найменування форми оплати (128 символів)-->
			<xs:element name="PAYFORMNM" type="StrColumn" minOccurs="1" maxOccurs="1"/>
			<!--Сума оплати (15.2 цифри)-->
			<xs:element name="SUM" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>

	<!--Податки/Збори-->
	<xs:complexType name="ZTax">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSTAX" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSTAX">
		<xs:sequence>
			<!--Код виду податку/збору (числовий):
			    0-ПДВ,1-Акциз,2-ПФ...-->
			<xs:element name="TYPE" type="Decimal0Column" minOccurs="1" maxOccurs="1"/>
			<!--Найменування виду податку/збору (64 символи)-->
			<xs:element name="NAME" type="Str64Column" minOccurs="1" maxOccurs="1"/>
			<!--Літерне позначення виду і ставки податку/збору (А,Б,В,Г,...) (1 символ)-->
			<xs:element name="LETTER" type="LetterColumn" minOccurs="0" maxOccurs="1"/>
			<!--Відсоток податку/збору (15.2 цифри)-->
			<xs:element name="PRC" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
			<!--Ознака податку/збору, не включеного у вартість-->
			<xs:element name="SIGN" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<!--Сума обсягів для розрахування податку/збору (15.2 цифри)-->
			<xs:element name="TURNOVER" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
			<!--Сума обсягів для розрахування податку/збору з урахуванням знижки (15.2 цифри)-->
			<xs:element name="TURNOVERDISCOUNT" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Вихідна сума для розрахування податку/збору (15.2 цифри)-->
			<xs:element name="SOURCESUM" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Сума податку/збору (15.2 цифри)-->
			<xs:element name="SUM" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>

	<!--Підсумки операцій для АЗС-->
	<xs:complexType name="ZFuel">
		<xs:sequence>
			<!--Підсумки по видам пального-->
			<xs:element name="DETAILS" type="ZFuelDetails" minOccurs="1" maxOccurs="1"/>
			<!--Залишки пального в розхідних резервуарах-->
			<xs:element name="REMAINS" type="ZFuelRemains" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!--Підсумки по видам пального-->
	<xs:complexType name="ZFuelDetails">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSFUELDETAILS" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSFUELDETAILS">
		<xs:sequence>
			<!--Найменування товару (пального) (текст)-->
			<xs:element name="NAME" type="StrColumn" minOccurs="1" maxOccurs="1"/>
			<!--Обсяг прийнятого пального у мілілітрах (15.2 цифри)-->
			<xs:element name="ACCEPTED" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Обсяг відпущеного пального у мілілітрах (15.2 цифри)-->
			<xs:element name="REALIZVOL" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Обсяг пального, відпущеного в процесі повірки паливно-роздавальної колонки,  у мілілітрах (15.2 цифри)-->
			<xs:element name="REALIZPRK" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Сума коштів, прийнятих за відпущене пальне (15.2 цифри)-->
			<xs:element name="REALIZCOST" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Обсяг залишку пального у мілілітрах (15.2 цифри)-->
			<xs:element name="REMAINS" type="Decimal2Column" minOccurs="0" maxOccurs="1"/>
			<!--Суми отриманих коштів по формам оплати-->
			<xs:element name="PAYFORMS" type="ZFuelPayForms" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>

	<!--Суми отриманих коштів по формам оплати-->
	<xs:complexType name="ZFuelPayForms">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSFUELPAYFORMS" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSFUELPAYFORMS">
		<xs:sequence>
			<!--Код форми оплати (1 символ)-->
			<!--0 – Готівка, 1 – Банківська картка...-->
			<xs:element name="PAYFORMCD" type="Decimal0Column" minOccurs="1" maxOccurs="1"/>
			<!--Найменування форми оплати (64 символи)-->
			<xs:element name="PAYFORMNM" type="StrColumn" minOccurs="1" maxOccurs="1"/>
			<!--Сума оплати (15.2 цифри)-->
			<xs:element name="SUM" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
			<!--Обсяг пального, відпущеного по даній формі оплати, у мілілітрах (15.2 цифри)-->
			<xs:element name="AMOUNT" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>

	<!--Залишки пального в розхідних резервуарах-->
	<xs:complexType name="ZFuelRemains">
		<xs:sequence>
			<xs:element name="ROW" type="TROWSFUELREMAINS" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TROWSFUELREMAINS">
		<xs:sequence>
			<!--Найменування товару (пального) (текст)-->
			<xs:element name="NAME" type="StrColumn" minOccurs="1" maxOccurs="1"/>
			<!--Номер розхідного резервуару (64 символи)-->
			<xs:element name="TANKNUM" type="Str64Column" minOccurs="1" maxOccurs="1"/>
			<!--Номер паливно-роздавальної колонки (64 символи)-->
			<xs:element name="COLUMNNUM" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Номер крану паливно-роздавальної колонки (64 символи)-->
			<xs:element name="FAUCETNUM" type="Str64Column" minOccurs="0" maxOccurs="1"/>
			<!--Обсяг залишку пального у мілілітрах (15.2 цифри)-->
			<xs:element name="REMAINS" type="Decimal2Column" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ROWNUM" type="rowInt" use="required"/>
	</xs:complexType>

	<!--Загальні підсумки-->
	<xs:complexType name="ZBody">
		<xs:sequence>
			<!--Службове внесення//Отримання авансу/Отримання підкріплення (15.2 цифри)-->
			<xs:element name="SERVICEINPUT" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Службова видача/Інкасація (15.2 цифри)-->
			<xs:element name="SERVICEOUTPUT" type="DGDecimal2" minOccurs="0" maxOccurs="1"/>
			<!--Державний реєстраційний номер транспортного засобу (64 символи)-->
			<xs:element name="VEHICLERN" type="DGStr64" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
